[submodule "cad/src/lib/stdlib"]
	path = cad/src/lib/stdlib
	url = git@github.com:ThunderFly-aerospace/Openscad_stdlib.git
[submodule "cad/src/assets"]
	path = cad/src/assets
	url = https://github.com/MLAB-project/documents.git
[submodule "doc/assets"]
	path = doc/assets
	url = git@github.com:MLAB-project/documents.git
